<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Wealth Management FAQ</h2>
        <form action="/faq" method="post">
            <p><input type="submit" value="How should I diversify my portfolio?"></p>
        </form>
        <form action="/faq" method="post"></form>
            <h4>Alternatively, please enter your question: </h4>
            <p><input type="ntext" step="0.01" name="q"></p>
            <p><input type="submit" value="Enter"></p>
        </form>
    </div>
</body>